<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Sarah Cuisine</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Pangolin" rel="stylesheet">
    <%- css('css/style.css')%>
  </head>

  <body>
    <%- partial('_partials/header.ejs')%>

    <main>
      <%- body %>
    </main>

    <%- partial('_partials/footer.ejs') %>

    <%- js('js/main.js')%>
  </body>
</html>
