<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- partial('_partials/head.ejs') %>
  </head>

  <body>
    <%- partial('_partials/site-header.ejs')%>

    <%- body %>

    <%- partial('_partials/site-footer.ejs', {}, { cache: true }) %>

    <script id="dsq-count-scr" src="//sarah-cuisine.disqus.com/count.js" async></script>

    <%- js('js/main.js')%>
  </body>
</html>
